* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #f9f9f9;
  color: #303030;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
.resume {
  position: relative;
  background: white;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
nav {
  position: relative;
  background: #3b8fb8;
  width: 100%;
  overflow: hidden;
  height: 90px;
  text-shadow: 1px 2px 3px #304a63;
  margin-top: 15px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
nav div {
  position: relative;
  color: white;
  float: left;
  padding-top: 27px;
  padding-left: 60px;
  padding-right: 48px;
  height: 90px;
  font-size: medium;
}
#nav1 {
  background: #28627d;
  z-index: 2;
  padding-top: 30px;
  font-size: x-large;
}
#nav1:after {
  position: absolute;
  content: '';
  border-top: 45px solid transparent;
  border-bottom: 45px solid transparent;
  border-left: 20px solid #28627d;
  right: -20px;
  top: 0;
}
#nav2 {
  background: #2e779c;
  z-index: 1;
  padding-top: 30px;
  font-size: large;
}
#nav2:after {
  position: absolute;
  content: '';
  border-top: 45px solid transparent;
  border-bottom: 45px solid transparent;
  border-left: 20px solid #2e779c;
  right: -20px;
  top: 0;
}
.clearfix {
  overflow: auto;
}
div.info {
  position: relative;
  width: 100%;
  padding-bottom: 20px;
}
div.info section{
  float: left;
  width: 70%;
  padding: 0 30px;
}
h2 {
  color: #2e779c;
  border-bottom: 2px dashed #d0dfda;
}
hgroup h3 {
  display: inline;
}
#skills h2 {
  margin-bottom: 0;
}
aside {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #f9f9f9;
  border: 2px dashed #d0dfda;
  border-top-width: 0px;
  border-radius: 5px;
}
table {
  text-align: left;
  width: 100%;
}
aside th {
  color: #2e779c;
}
aside td {
  font-weight: 500;
}


ul.tags {
  position: relative;
  padding: 0;
}
.tags li {
  position: relative;
  list-style:none;
  padding: 0;
}
ul.tag-tab {
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}
ul.tag-tab:before {
  position: absolute;
  left: 8px;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
}
ul.tag-tab.yellow:before {
  background: #E0AB18;
}
ul.tag-tab.blue:before {
  background: #39ADD1;
}
ul.tag-tab.green:before {
  background: #51B46D;
}
li.tag {
  list-style: none;
  display: inline-block;
  background-color: #2E779C;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 18px;
  color: #d0dfda;
  margin: 3px 1px 3px 1px;
  line-height: 27px;
}
